# Sensitive Environment Variables / Credentials
.env
.env.local
.env.*.local
env.json

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Editor & IDE Configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
